.ContentWrapper {
  position: 'absolute' !important;
  width: '100%' !important;
}

.App button.back {
  position: absolute;
  margin-top: 0 !important;
}

.App .header {
  margin-top: 0 !important;
  height: 1.2em;
}
